@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

:root {
  --Pink: hsl(322, 100%, 66%);
  --VeryPaleCyan: hsl(193, 100%, 96%);
  --VeryDarkCyan: hsl(192, 100%, 9%);
  --GrayishBlue: hsl(208, 11%, 55%);
  --poppins: "Poppins", sans-serif;
  --openSans: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--openSans);
}
header {
  background: url(images/bg-hero-desktop.svg);
  height: max-content;
  padding: 3em;
  margin-bottom: 5em;
}
.logo {
  margin-bottom: 30px;
}
header button {
  border-radius: 20px;
  padding: 10px 40px;
  border: none;
}
button {
  cursor: pointer;
}
.btn1 {
  float: right;
  background-color: rgb(248, 248, 248);
  box-shadow: 0px 1px 3px;
  font-weight: bold;
}
.btn1:hover {
  background-color: #fff;
  box-shadow: 0px 1px 5px #fff;
}
.btn2 {
  background-color: var(--Pink);
  color: var(--VeryPaleCyan);
}
.btn2:hover {
  background-color: hsl(322, 100%, 82%);
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.intro {
  width: 45%;
  margin-top: 70px;
}
.intro h2 {
  font-family: var(--poppins);
}
.intro p {
  margin: 30px 0;
  color: var(--VeryDarkCyan);
}
.header-container img {
  width: 50%;
}
main {
  padding: 2em;
  display: flex;
  flex-direction: column;
}
.main-container {
  border-radius: 10px;
  margin: 1em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  box-shadow: 1px 1px 5px rgb(218, 209, 198);
}
.main-container .intro {
  margin: 30px;
  width: 55%;
  color: var(--GrayishBlue);
}
.main-container h3 {
  font-family: var(--poppins);
  color: var(--VeryDarkCyan);
  margin-bottom: 5px;
}
.main-container img {
  width: 45%;
}
.ready {
  background-color: #fff;
  border-radius: 10px;
  padding: 2em 3em;
  width: 400px;
  text-align: center;
  margin: auto;
  margin-bottom: -100px;
}
.ready h2 {
  color: var(--VeryDarkCyan);
  margin-bottom: 20px;
}
.btn3 {
  background-color: var(--Pink);
  color: var(--VeryPaleCyan);
  border-radius: 20px;
  padding: 10px 40px;
  border: none;
}
.btn3:hover {
  background-color: hsl(322, 100%, 82%);
}
footer {
  background-color: var(--VeryDarkCyan);
  color: var(--GrayishBlue);
  font-size: 15px;
  padding: 8em 5em 3em 5em;
}
footer img {
  margin-bottom: 30px;
}
footer li {
  list-style-type: none;
}
footer li:hover {
  text-decoration: underline;
}
footer a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.col-1 {
  width: 30%;
}
.item {
  display: flex;
  padding-bottom: 10px;
}
.item img {
  height: 17px;
  width: 18px;
}
.item p {
  margin-left: 20px;
  height: fit-content;
}
.col li {
  padding-bottom: 20px;
}
.copyright {
  float: right;
}
.fa-brands {
  padding: 10px;
  margin: 3px;
  font-size: 15px;
  border: 1px solid;
  border-radius: 50%;
  color: #fff;
}
.fa-brands:hover {
  color: var(--Pink);
}

/* media queries */
@media screen and (max-width: 375px) {
  header {
    background: url(./images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    width: auto;
    margin-bottom: 1em;
    padding: 10px;
  }
  .top-div {
    width: 100%;
    padding: 0;
  }
  .logo {
    margin: 0;
    width: 140px;
  }
  .btn1 {
    padding: 7px 30px;
  }
  .btn2 {
    margin-bottom: 45px;
    padding: 15px 55px;
  }
  .header-container {
    flex-direction: column;
    text-align: center;
  }
  .intro {
    width: 100%;
    font-size: 21px;
  }
  .intro p {
    font-size: 22px;
  }
  .header-container img {
    width: auto;
  }
  main {
    flex-direction: column;
  }
  .main-container {
    flex-direction: column;
    text-align: center;
    margin: 1em 0;
    padding: 1em 0;
  }
  .main-container .intro {
    width: auto;
  }
  .main-container h3 {
    font-size: 20px;
    margin: 0;
  }
  .main-container p {
    color: var(--GrayishBlue);
    font-size: 20px;
  }
  .main-container img {
    width: 80%;
  }
  .ready {
    width: auto;
    padding: 2em 1em;
  }
  .ready h2 {
    font-size: 16px;
  }
  footer {
    padding: 8em 1em 3em 1em;
  }
  .footer-container {
    flex-direction: column;
    margin-bottom: 15px;
  }
  .col-1 {
    width: auto;
  }
  .col-4 {
    text-align: center;
  }
  .copyright {
    float: none;
  }
}
